@import '~scroll-hint/css/scroll-hint.css';

.category-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  font-size: 1.2em;

  .navbar-nav {
    overflow: scroll;
    position: relative;

    li {
      padding-right: 0.7em;
    }
  }

  .scroll-hint-icon {
    transform: scale(0.4);
    top: -20px;
  }
}

body {
  padding-top: 3.9rem;
}