
.hero {
  color: white;
  padding-top: 12rem;
  padding-bottom: 12rem;
  background: -webkit-gradient(linear, left top, right top, from(#642B73), to(#C6426E));
  background: -webkit-linear-gradient(left, #642B73 0%, #C6426E 100%);
  background: -o-linear-gradient(left, #642B73 0%, #C6426E 100%);
  background: linear-gradient(to right, #642B73 0%, #C6426E 100%);
}
