
.hero {
  color: white;
  padding-top: 12rem;
  padding-bottom: 12rem;
  background: -webkit-gradient(linear, left top, right top, from(#009444), to(#007537));
  background: -webkit-linear-gradient(left, #009444 0%, #007537 100%);
  background: -o-linear-gradient(left, #009444 0%, #007537 100%);
  background: linear-gradient(to right, #009444 0%, #007537 100%);
  position: relative;
  z-index: 0;

  @media screen and (max-width: 600px) {
    padding-top: 6rem;
    padding-bottom: 10rem;
  }
}

.hero-content {
  z-index: 0 !important;
}

.background-wave {
  position: absolute;
  top: 0;
  left: 0;
  background: url(../../assets/wave-1.png) no-repeat left top;
  right: 0;
  bottom: 0;
  z-index: -2;
}

.background-dots {
  background: url(../../assets/dots-pattern-3.png) no-repeat center left;
  overflow: visible;
  max-height: 500px;
}

.background-dots img {
  max-width: 100%;

  @media screen and (min-width: 432px) {
    max-width: 432px;
  }
}

.hero-end-shape {
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  top: 0;
  background: url(../../assets/wave.svg) no-repeat bottom left;
  background-size: auto;
  z-index: -1;
  pointer-events: none;
}