$btn-border-radius:           20px;
$btn-border-radius-sm:        20px;
$btn-border-radius-lg:        20px;

@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-icons/font/bootstrap-icons.css';


.d-hidden-ease {
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}

.d-hidden {
  opacity: 0;
  overflow: hidden;
}

.ease {
  transition: all 0.3s ease;
}

.mt-120 {
  margin-top: 120px;
}

.text-gray-300 {
  color: $gray-400;
}

.icon-stack {
  height: 5rem;
  width: 5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  flex-shrink: 0;
  margin-bottom: 1rem;
  font-size: 1.5em;
}

.icon-stack-sm {
  height: 3rem;
  width: 3rem;
  font-size: 1.3em;
}