$btn-border-radius:           20px;
$btn-border-radius-sm:        20px;
$btn-border-radius-lg:        20px;

@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-icons/font/bootstrap-icons.css';


.d-hidden-ease {
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}

.d-hidden {
  opacity: 0;
  overflow: hidden;
}

.ease {
  transition: all 0.3s ease;
}

.mt-120 {
  margin-top: 120px;
}